.aboutTitle {
  margin: 50px auto;
  color: #c3833c;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: start;
      align-self: flex-start;
  height: 20%;
  width: 90%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 4em;
}

.aboutBody {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 2% 0;
  justify-self: center;
  border-radius: 20px;
  width: 100%;
  height: 50vh;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.aboutContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 20px;
  padding: 3em;
  width: 100%;
  height: 100%;
  border: 1px solid #c3833c;
  background-color: #89898980;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.aboutContent .person {
  cursor: pointer;
  margin: auto;
  width: 8em;
  height: 11em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 36px;
}

.aboutContent .person .photo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: solid 2px;
  border-color: #c3833c;
  border-radius: 20px;
  width: 8em;
  height: 9em;
  background-size: cover;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.aboutContent .person .photo:hover {
  width: 9em;
  height: 10em;
}

.aboutContent .name {
  text-transform: capitalize;
  color: #c3833c;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 20px;
  padding: 0.2em;
  width: 60%;
  border: 1px solid #c3833c;
  background-color: #000;
  justify-content: space-around;
  z-index: 999;
  margin-top: -12%;
}

.aboutContent .person .description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-items: center;
}

.aboutContent .personBlured {
  -webkit-filter: blur(2.5px) grayscale(90%);
          filter: blur(2.5px) grayscale(90%);
  cursor: pointer;
  margin: auto;
  width: 8em;
  height: 11em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 36px;
}

.aboutContent .personBlured .photo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: solid 2px;
  border-color: #c3833c;
  border-radius: 20px;
  width: 8em;
  height: 9em;
  background-size: cover;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.aboutContent .personBlured .photo:hover {
  width: 9em;
  height: 10em;
}

.aboutContent .personBlured .description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-items: center;
}
/*# sourceMappingURL=About.css.map */