@import "../ColorPalette.scss";
@import "../FontsStyles.scss";

.defaultButton {
	// box styling
	height: 100px;
	width: 220px;
	padding: 10px;
	background-color: $thirdColor;
	// font styling
	color: $buttonFontColor;
	font-size: $buttonFontSize;
	// border styling
	border: solid 2px;
	border-color: $primaryColor;
	border-radius: 40px;

	&:hover {
		cursor: pointer;
	}
}
