//GLOBAL STYLING VARIABLES
$primaryColor: #c3833c;
$secondaryColor: #89898980;
$thirdColor: #000000;
$glowColor: #ffa9495c;
$shadowLayer: #1d120df1;
$blurWindow: #89898980;

$buttonFontColor: $primaryColor;
